<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="University_advisor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <University_advisor.Properties.Settings>
            <setting name="University_advisor_localhost_WebService1" serializeAs="String">
                <value>https://localhost:44389/SubjectWebService.asmx</value>
            </setting>
            <setting name="University_advisor_UserWebService_UserWebService"
                serializeAs="String">
                <value>https://localhost:44389/UserWebService.asmx</value>
            </setting>
            <setting name="University_advisor_ReviewWS_ReviewWebService"
                serializeAs="String">
                <value>https://localhost:44389/ReviewWebService.asmx</value>
            </setting>
        </University_advisor.Properties.Settings>
    </applicationSettings>
</configuration>